/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #ffffff;
    color: #1e293b;
    overflow-x: hidden;
}

/* NAVBAR */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(15, 23, 42, 0.85);
    backdrop-filter: blur(10px);
    z-index: 1000;
}

.logo {
    position: absolute;
    left: 40px;
    font-weight: 600;
    font-size: 20px;
}

.navbar ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

.navbar a {
    text-decoration: none;
    color: #ffffff;
    padding: 6px 12px;
    border-radius: 6px;
    transition: 0.3s;
}

.navbar a:hover,
.navbar .active {
    background: #2563eb;
    color: white;
}

/* MAIN CONTAINER */
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 120px 8%;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

/* LEFT SIDE */
.left-content {
    flex: 1;
}

.logo-img img {
    width: 520px; /* 🔥 BIG LOGO */
}

.coming-soon h2 {
    font-size: 60px; /* 🔥 BIG TEXT */
    margin-top: 20px;
}

/* BUTTONS */
.app-buttons {
    display: flex;
    gap: 25px;
    margin-top: 30px;
    align-items: center; /* 🔥 THIS LINE FIXES EVERYTHING */
}

.app-buttons img {
    height: 60px;
    width:180px;
    object-fit: contain;
}

/* specifically fix google image */
.app-buttons a img {
    transform: scale(1.2); /* 🔥 zooms Google button */
}

/* IOS COMING */


.ios-coming span {
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
    background: #2563eb;
    color: white;
    padding: 4px 10px;
    border-radius: 6px;
}

/* RIGHT IMAGE */
.phone-image {
    flex: 1;
    display: flex;
    justify-content: flex-end; /* 🔥 pushes image to extreme right */
    align-items: center;
}

/* push even more to the edge */
.phone-image img {
    width: 600px;
    max-width: none;
    transform: translateX(80px); /* 🔥 moves it fully to right */
}

/* MOBILE */
@media (max-width: 768px) {

    .container {
        flex-direction: column;
        height: auto;
        text-align: center;
    }
    .container {
    padding: 200px 20px 20px; /* top right bottom */
}

    .logo-img img {
        width: 250px;
    }

    .coming-soon h2 {
        font-size: 32px;
    }

    .phone-image img {
        width: 260px;
        margin-top: 20px;
    }

    .navbar {
    height: auto;
    padding: 15px 0;
}

.navbar ul {
    flex-direction: column;   /* 🔥 makes it vertical */
    gap: 10px;
    align-items: center;
}

.navbar a {
    display: block;
    width: 100%;
    text-align: center;
}
}